<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body style= background-color:black>

    <style>
        body{
            background-image: url('https://mobimg.b-cdn.net/v3/fetch/c8/c8aa524ebe74f4de162203cc111f08ce.jpeg?w=1470&r=0.5625');
        }
        .colortext {
            color: red;
        }
    </style>
    <title>БОТ</title>
</head>
<body>
    <div align="center" style="color: #ffffff;; font: size 100px;">
        <h1>Я БОТ<br>
        <p style="color:#45ff8c">Это пример текста<br>ПРИМЕР ТЕКСТА2</p></h1>

    </div>
</body>
</html>